<div class="header__wrapper">
    <div class="header">
        <div class="header__top-bar"></div>
        <div class="header__btn-bar">
            <ul class="header__nav">

                <li class="header__nav-item"><a>Главная</a></li>
                <li class="header__nav-item"><a>Наши услуги</a></li>
                <li class="header__nav-item"><a>Наши работы</a></li>
                <li class="header__nav-item"><a>Наши преимущества</a></li>
                <li class="header__nav-item"><a>Отзывы</a></li>
                <li class="header__nav-item"><a>Контакты</a></li>

            </ul>
        </div>
    </div>
</div>