<div class="contacts">
    <h2 class="contacts__title">
        <img src="../../assets/icons/title_icon.png">Контакты
    </h2>
    <div class="contacts__card-wrapper">
        <div class="contacts__card">
            <img src="../../assets/icons/phone.png">
            <h4 class="contacts__title">Позвоните по номеру:</h4>
            <a class="contacts__subtitle">8 (495) 999 99 99</a>
        </div>
        <div class="contacts__card">
            <img src="../../assets/icons/mail.png">
            <h4 class="contacts__title">Или напишите нам на почту:</h4>
            <a class="contacts__subtitle">info@electromo.com</a>
        </div>
        <div class="contacts__card">

        </div>
    </div>
</div>