<div class="contacts" id="contacts">
    <h2 class="contacts__title">
        <img src="../../assets/icons/title_icon.png">Контакты
    </h2>
    <div class="contacts__card-wrapper">
        <div class="contacts__card-small">
            <img src="../../assets/icons/phone.png">
            <h4 class="contacts__card-title">Позвоните по номеру:</h4>
            <a class="contacts__subtitle" href="tel:+79663270432">+7 (966) 327 04 32</a>
        </div>
        <div class="contacts__card-small">
            <img src="../../assets/icons/mail.png">
            <h4 class="contacts__card-title">Или напишите нам на почту:</h4>
            <a class="contacts__subtitle highlighted" href="mailto:info@electro-hand.ru" style="color:#ff9f0655">info@electro-hand.ru</a>
        </div>
        <div class="contacts__card-big">
            <form class="contacts__form" method="POST">
                <input placeholder="Введите Имя" />
                <input placeholder="Введите Телефон" />
                <select>
                    <option>Электромонтажные работы</option>
                    <option>Сантехнические работы</option>
                    <option>Другое</option>
                </select>
                <input placeholder="Размер помещений" />
                <button type="submit" class="form__button">Отправить</button>
                <p class="smalltext">Гарантируем конфидициальность и целевое использование данных</p>
            </form>
        </div>
    </div>
</div>