<div class="contacts" id="contacts">
    <h2 class="contacts__title">
        <img src="../../assets/icons/title_icon.png">Контакты
    </h2>
    <div class="contacts__card-wrapper">
        <div class="contacts__card-small wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
            <img src="../../assets/icons/phone.png" class="wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
            <h4 class="contacts__card-title wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">Позвоните по номеру:</h4>
            <a class="contacts__subtitle wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.8s" href="tel:+79663270432">+7 (966) 327 04 32</a>
        </div>
        <div class="contacts__card-small wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
            <img src="../../assets/icons/mail.png" class="wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
            <h4 class="contacts__card-title wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="1s">Или напишите нам на почту:</h4>
            <a class="contacts__subtitle highlighted wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="1.1s" href="mailto:info@electro-hand.ru" style="color:#ff9f0655">info@electro-hand.ru</a>
        </div>
        <div class="contacts__card-big wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <app-form></app-form>
        </div>
    </div>
</div>