<div class="hero-wrapper">
    <div class="hero">
        <div class="hero__title wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
            ЭЛЕКТРОМОНТАЖНЫЕ И САНТЕХНИЧЕСКИЕ РАБОТЫ ОТ ЛУЧШИХ СПЕЦИАЛИСТОВ.<br/>
            <span class="highlighted wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">СРОК ОТ 1-ГО ДНЯ С ГАРАНТИЕЙ НА РАБОТУ ОТ 3-Х ЛЕТ </span>
        </div>
        <div class="hero__buttons">
            <a href="tel:+79663270432" class="hero__buttons-item-primary wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.3s"><img src="../../assets/icons/logo__vibphone.png">Позвонить</a>
            <a href="../../assets/xls/price.xlsx" class="hero__buttons-item-secondary wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" download="price.xlsx">Скачать Прайс.pdf</a>
        </div>
    </div>
</div>