<div class="hero-wrapper">
    <div class="hero">
        <div class="hero__title">
            ЭЛЕКТРОМОНТАЖНЫЕ И САНТЕХНИЧЕСКИЕ РАБОТЫ ОТ ЛУЧШИХ СПЕЦИАЛИСТОВ.<br/>
            <span class="highlighted">СРОК ОТ 1-ГО ДНЯ С ГАРАНТИЕЙ НА РАБОТУ ОТ 3-Х ЛЕТ </span>
        </div>
        <div class="hero__buttons">
            <a href="" class="hero__buttons-item-primary"><img src="../../assets/icons/logo__vibphone.png">Позвонить</a>
            <a href="../../assets/xls/price.xlsx" class="hero__buttons-item-secondary" download="price.xlsx">Скачать Прайс.pdf</a>
        </div>
    </div>
</div>