<div class="service__wrapper">
    <div class="service">
        <h2 class="service__title"><img src="../../assets/icons/title_icon.png">Наши услуги</h2>
        <div class="service__card-wrapper">
            <div class="service__card">
                <h3 class="service__card-title">
                    Монтаж систем водоснабжения
                    <img src="../../assets/icons/service_icon01.png" />
                </h3>
                <ul>

                </ul>

            </div>
            <div class="service__card">
                <h3 class="service__card-title">
                    Сопутствующие услуги при монтаже систем
                    <img src="../../assets/icons/service_icon02.png" />
                </h3>
                <ul>

                </ul>

            </div>
            <div class="service__card">
                <h3 class="service__card-title">
                    Монтаж систем электроснабжения
                    <img src="../../assets/icons/service_icon03.png" />
                </h3>
                <ul>

                </ul>

            </div>
        </div>
    </div>
</div>