<div class="service__wrapper">
    <div class="service wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" id="services">
        <h2 class="service__title"><img src="../../assets/icons/title_icon.png">Наши услуги</h2>
        <div class="service__card-wrapper">
            <div class="service__card wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                <h3 class="service__card-title">
                    Монтаж систем водоснабжения
                    <img src="../../assets/icons/service_icon01.png" />
                </h3>
                <ul>
                    <li>Сантехнические работы (Установка сантехники в офисах и домах, монтаж сантехнического оборудования - раковины, ванны, унитазы, монтаж доп оборудования)</li>
                    <li class="bold">от 5000 ₽/м²</li>
                </ul>

            </div>
            <div class="service__card wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                <h3 class="service__card-title">
                    Сопутствующие услуги при монтаже систем
                    <img src="../../assets/icons/service_icon02.png" />
                </h3>
                <ul>
                    <li>Перекладка проводки и ввод ее в экплотацию после некачественной работы электрика</li>
                    <li class="bold">от 2000 ₽/м²</li>
                    <li>Сборка электрощита</li>
                    <li class="bold">от 10 000 ₽</li>
                    <li>Монтаж чистовых механизмов (люстры, розетки и тд.)</li>
                    <li class="bold">от 3 000 ₽</li>
                </ul>

            </div>
            <div class="service__card wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                <h3 class="service__card-title">
                    Монтаж систем электроснабжения
                    <img src="../../assets/icons/service_icon03.png" />
                </h3>
                <ul>
                    <li>Каркасный дом</li>
                    <li class="bold">от 1400 ₽/м²</li>
                    <li>Квартирный дом</li>
                    <li class="bold">от 1100 ₽/м²</li>
                    <li>Коттеджи и Офисы</li>
                    <li class="bold">от 1300 ₽/м²</li>
                </ul>

            </div>
        </div>
    </div>
</div>