<div class="burger-menu wow animate__animated animate__fadeInDown" data-wow-duration="2s" data-wow-delay="0.3s" [class.active]="active" (click)="onBurgerClicked()">
    <p class="burger-menu-btn">МЕНЮ</p>
    <div class="burger-container">
        <div class="burger-inner"></div>
    </div>
    <div class="overlay">
        <div class="burger__nav-contacts">
            <a href="tel:+79663270432" class="burger__nav-phone">+7 (966) 327 04 32</a>
            <a href="mailto:info@electro-hand.ru" class="burger__nav-mail">info@electro-hand.ru</a>
        </div>
        <ul class="burger__nav">
            <li class="header__nav-item"><a (click)="onClickScroll('')">Главная</a></li>
            <li class="header__nav-item"><a (click)="onClickScroll('services')">Наши услуги</a></li>
            <li class="header__nav-item"><a (click)="onClickScroll('portfolio')">Наши работы</a></li>
            <li class="header__nav-item"><a (click)="onClickScroll('advantages')">Наши преимущества</a></li>
            <li class="header__nav-item"><a (click)="onClickScroll('reviews')">Отзывы</a></li>
            <li class="header__nav-item"><a (click)="onClickScroll('contacts')">Контакты</a></li>
        </ul>
        <div class="burger__logo"><img src="../../../assets/img/logomain.svg"></div>
    </div>
</div>