:host::ng-deep {
    @import 'swiper/scss';
    @import 'swiper/scss/navigation';
    @import 'swiper/scss/pagination';
}

.swiper-pagination-bullet-active {
    background: #E7A334 !important;
}

.portfolio {
    padding-top: 80px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    & .portfolio__title {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 36px;
        margin-bottom: 80px;
        font-family: Oswald;
        & img {
            margin-right: 10px;
        }
    }
    & .portfolio__card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        box-sizing: border-box;
        padding: 30px;
        & .portfolio__card-images {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 10px;
            & img {
                max-width: 310px !important;
                width: 100%;
            }
        }
        & .portfolio__card-description {
            width: 100%;
            max-width: 500px;
            & .description__title {
                font-size: 30px;
                font-family: Nunito;
            }
            & ul {
                list-style: none;
                padding-inline-start: 0px;
                padding-bottom: 50px;
                margin-top: 40px;
                border-bottom: 5px solid rgba($color: #E7A334, $alpha: 1);
                border-width: 50%;
                & li {
                    margin-bottom: 25px;
                }
            }
            & .description__total-price {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 50px;
                margin-top: 50px;
                & img {
                    margin-right: 15px;
                }
            }
            & .description__total-time {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 20px;
                & img {
                    margin-right: 15px;
                }
            }
        }
    }
}