<div class="reviews" id="reviews">
    <h2 class="reviews__title">
        <img src="../../assets/icons/title_icon.png">Отзывы клиентов
    </h2>
    <div class="reviews__card-wrapper">
        <swiper [config]="config" [pagination]="false" [breakpoints]="{
            '320': {
              slidesPerView: 1,
              spaceBetween: 10
            },
            '768': {
              slidesPerView: 2,
              spaceBetween: 40
            },
            '1024': {
              slidesPerView: 2,
              spaceBetween: 50
            }
          }">
            <ng-template swiperSlide>
                <div class="reviews__card">
                    <div class="reviews__card-img"><img class="reviews__card-img" src="../../assets/img/reviewsdefault.png"></div>
                    <div class="reviews__card-description">
                        <h2 class="reviews__card-title">
                            Владимир Галахов</h2>
                        <p class="reviews__card-text">Все выполнено в сроки и с должным качеством! Направил объем работ, договорились о дате. Прибыли для выполнения в оговоренный срок . До начала выполнения работ проанализировал всю проводку дал необходимые консультации, посоветовал
                            как и что сделать лучше, какие нужно приобрести материалы и т.д.</p>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="reviews__card">
                    <div class="reviews__card-img"><img class="reviews__card-img" src="../../assets/img/reviewsdefault.png"></div>
                    <div class="reviews__card-description">
                        <h2 class="reviews__card-title">
                            Татьяна С.</h2>
                        <p class="reviews__card-text">Всё вовремя, без опозданий и задержек и по очень доступной цене, это немаловажно! Даниил поменял от и до всю проводку в старом дачном доме, а это работа не из лёгких, в тяжёлых трудовых условиях. Новый щиток, счётчик , розетки
                            , люстры, включатели, электрические узлы. </p>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="reviews__card">
                    <div class="reviews__card-img"><img class="reviews__card-img" src="../../assets/img/reviewsdefault.png"></div>
                    <div class="reviews__card-description">
                        <h2 class="reviews__card-title">Оксана</h2>
                        <p class="reviews__card-text">Обращались к Данилу уже дважды. На отлично знает свою работу. В квартире делал нам перенос розеток, замену выключателей. На даче заменил всю старую электрику, на новую. Спасибо большое! Хороший специалист, рекомендую.</p>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="reviews__card">
                    <div class="reviews__card-img"><img class="reviews__card-img" src="../../assets/img/reviewsdefault.png"></div>
                    <div class="reviews__card-description">
                        <h2 class="reviews__card-title">Александр Матросов</h2>
                        <p class="reviews__card-text">Отличный специалист и просто хороший человек! Лёгок, вежлив и приятен в общении, быстро диагностировал и исправил проблему (был неправильно собран электрощит в квартире прошлым электриком), всё показал и рассказал, что было сделано
                            не так. Рекомендую к сотрудничеству!</p>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>

</div>