:host::ng-deep {
    @import 'swiper/scss';
    @import 'swiper/scss/navigation';
    @import 'swiper/scss/pagination';
}

.swiper {
    width: 100%;
    max-width: 1280px;
}

.reviews {
    padding-top: 80px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    & .reviews__title {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 36px;
        margin-bottom: 80px;
        font-family: Oswald;
        & img {
            margin-right: 10px;
        }
    }
    & .reviews__card-wrapper {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        & .reviews__card {
            width: 100%;
            max-width: 550px;
            min-height: 230px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            background: rgba(#E7A334, 0.25);
            box-sizing: border-box;
            padding: 20px;
            margin-right: 30px;
            margin-left: 30px;
            & .reviews__card-img {
                margin-right: 20px;
            }
        }
    }
}

@media screen and (max-width:968px) {
    .reviews {
        box-sizing: border-box;
        padding: 10px;
        padding-top: 50px;
    }
    .reviews__card {
        flex-direction: column !important;
        align-items: center;
        min-height: 360px !important;
        & .reviews__card-description {
            & .reviews__card-title {
                text-align: center;
                margin-bottom: 10px;
            }
            & .reviews__card-subtitle {
                text-align: justify;
            }
        }
    }
}