<div class="reviews">
    <h2 class="reviews__title">
        <img src="../../assets/icons/title_icon.png">Отзывы клиентов
    </h2>
    <div class="reviews__card-wrapper">
        <swiper [config]="config">
            <ng-template swiperSlide>
                <div class="reviews__card">
                    <div class="reviews__card-img"><img class="reviews__card-img" src="../../assets/img/reviews02.png"></div>
                    <div class="reviews__card-description">
                        <h2 class="reviews__card-title">Елена Вадимова</h2>
                        <p class="reviews__card-text">Компания добросовестно отнеслась ко всем своим обязанностям, всё, что было представлено в смете - именно это закупали. Мне приятно работать с теми людьми, кто несет ответственность за свои слова, кроме того компания стоимость не
                            поднимали в процессе работ! Ставлю 5 баллов</p>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="reviews__card">
                    <div class="reviews__card-img"><img class="reviews__card-img" src="../../assets/img/reviews02.png"></div>
                    <div class="reviews__card-description">
                        <h2 class="reviews__card-title">Елена Вадимова</h2>
                        <p class="reviews__card-text">Компания добросовестно отнеслась ко всем своим обязанностям, всё, что было представлено в смете - именно это закупали. Мне приятно работать с теми людьми, кто несет ответственность за свои слова, кроме того компания стоимость не
                            поднимали в процессе работ! Ставлю 5 баллов</p>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="reviews__card">
                    <div class="reviews__card-img"><img class="reviews__card-img" src="../../assets/img/reviews02.png"></div>
                    <div class="reviews__card-description">
                        <h2 class="reviews__card-title">Елена Вадимова</h2>
                        <p class="reviews__card-text">Компания добросовестно отнеслась ко всем своим обязанностям, всё, что было представлено в смете - именно это закупали. Мне приятно работать с теми людьми, кто несет ответственность за свои слова, кроме того компания стоимость не
                            поднимали в процессе работ! Ставлю 5 баллов</p>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="reviews__card">
                    <div class="reviews__card-img"><img class="reviews__card-img" src="../../assets/img/reviews02.png"></div>
                    <div class="reviews__card-description">
                        <h2 class="reviews__card-title">Елена Вадимова</h2>
                        <p class="reviews__card-text">Компания добросовестно отнеслась ко всем своим обязанностям, всё, что было представлено в смете - именно это закупали. Мне приятно работать с теми людьми, кто несет ответственность за свои слова, кроме того компания стоимость не
                            поднимали в процессе работ! Ставлю 5 баллов</p>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>

</div>