<div class="advantages">
    <h2 class="advantages__title">
        <img src="../../assets/icons/title_icon.png">Преимущества работы с Нами
    </h2>
    <div class="advantages__card-wrapper">
        <div class="advantages__card">
            <div class="advantages__card-image"><img class="advantages__card-image" src="../../assets/icons/advantage01.png"></div>
            <h3 class="advantages__card-title">Работа строго <br/> по договору</h3>
            <p class="advantages__card-subtitle">Все официально!</p>
        </div>
        <div class="advantages__card">
            <div class="advantages__card-image"><img class="advantages__card-image" src="../../assets/icons/advantage01.png"></div>
            <h3 class="advantages__card-title">Фиксированная <br/> стоимость </h3>
            <p class="advantages__card-subtitle">Работ и материалов!</p>
        </div>
        <div class="advantages__card">
            <div class="advantages__card-image"><img class="advantages__card-image" src="../../assets/icons/advantage01.png"></div>
            <h3 class="advantages__card-title">Гарантия <br/> на монтаж</h3>
            <p class="advantages__card-subtitle">24 месяца!
            </p>
        </div>
        <div class="advantages__card">
            <div class="advantages__card-image"><img class="advantages__card-image" src="../../assets/icons/advantage01.png"></div>
            <h3 class="advantages__card-title">Гарантия <br/> на оборудование</h3>
            <p class="advantages__card-subtitle">От 2-10 лет!</p>
        </div>
    </div>
</div>