.advantages {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    & .advantages__title {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 36px;
        margin-bottom: 80px;
        font-family: Oswald;
        & img {
            margin-right: 10px;
        }
    }
    & .advantages__card-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        & .advantages__card {
            width: 100%;
            max-width: 305px;
            box-sizing: border-box;
            border: 6px solid rgba(#E7A334, 0.3);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            Padding: 20px;
            margin: 0 auto;
            margin-bottom: 10px;
            & .advantages__card-title {
                font-family: Oswald;
                font-weight: bold;
                font-size: 16px;
                color: #3f464e;
                text-transform: uppercase;
                margin-top: 10px;
            }
            & .advantages__card-subtitle {
                color: #798797;
                font-family: Oswald;
                font-weight: 400;
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width:968px) {
    .advantages {
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }
}